<h1 align='center'><span class=\"emoji\">üï∑Ô∏è</span> Selenium:Scraping Glassdoor Jobs<span class=\"emoji\">üìù</span></h1>

Introducing our web scraping notebook powered by Python and Selenium! üöÄ In this notebook, we embark on a quest to gather valuable job information and company insights from the enchanted realm of Glassdoor. üßô‚Äç‚ôÇÔ∏è Our goal is to find the perfect job fit for aspiring job seekers in the realm of technology.

With the magical capabilities of Selenium, we'll cast spells to navigate through Glassdoor's job listings, extracting essential details like job titles, salaries, and company reviews. Armed with Python's scripting prowess, we'll transform raw web data into valuable insights that will aid in making informed career decisions.

# 1.Load Labraries :

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.edge.options import Options as EdgeOptions
from webdriver_manager.microsoft import EdgeChromiumDriverManager

from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException, ElementNotInteractableException
import pandas as pd
import time
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

# 2.Open Driver :

In [2]:
def open_edge_browser():
    # Create Edge options and add the disable notifications argument (optional)
    edge_options = EdgeOptions()
    # If you want to disable notifications, use the line below:
    edge_options.add_argument("--disable-notifications")

    # Initialize the Edge driver with the options
    driver = webdriver.Edge(executable_path=EdgeChromiumDriverManager().install(), options=edge_options)
    return driver

# 3.Scraping Script :

In [11]:
def glassdoor_scraper(keyword, num_pages=20):
    options = Options()
    options.add_argument("window-size=1920,1080")
    driver.get("https://www.glassdoor.co.in/Job/Home/recentActivity.htm")
    time.sleep(1)
    search_input = driver.find_element_by_css_selector("[class='css-1j5jd7o']")
    search_input.send_keys(keyword)
    search_input.send_keys(Keys.ENTER)
    time.sleep(5)
    
    
    
    
    company_name = []
    job_title = []
    salary_est = []
    location = []
    job_description = []
    salary_estimate = []
    company_size = []
    company_type = []
    company_sector = []
    company_industry = []
    company_founded = []
    company_revenue = []
    
    #Set current page to 1
    current_page = 1     
    time.sleep(3)
    while current_page <= num_pages:   
        
        done = False
        while not done:
            job_cards = driver.find_elements_by_xpath("//article[@id='MainCol']//ul/li[@data-adv-type='GENERAL']")
            for card in job_cards:
                card.click()
                time.sleep(2)
                #Closes the signup prompt
                try:
                    driver.find_element_by_xpath(".//span[@class='SVGInline modal_closeIcon']").click()
                    time.sleep(2)
                except NoSuchElementException:
                    time.sleep(2)
                    pass
                #Expands the Description section by clicking on Show More
                try:
                    driver.find_element_by_xpath("//div[@class='css-t3xrds e856ufb4']").click()
                    time.sleep(1)
                except NoSuchElementException:
                    card.click()
                    print(str(current_page) + '#ERROR: no such element')
                    time.sleep(30)
                    driver.find_element_by_xpath("//div[@class='css-t3xrds e856ufb4']").click()
                except ElementNotInteractableException:
                    card.click()
                    driver.implicitly_wait(30)
                    print(str(current_page) + '#ERROR: not interactable')
                    driver.find_element_by_xpath("//div[@class='css-t3xrds e856ufb4']").click()
                #Scrape 
                try:
                    company_name.append(driver.find_element_by_xpath("//div[@class='css-87uc0g e1tk4kwz1']").text)
                except:
                    company_name.append("#N/A")
                    pass
                try:
                    job_title.append(driver.find_element_by_xpath("//div[@class='css-1vg6q84 e1tk4kwz4']").text)
                except:
                    job_title.append("#N/A")
                    pass
                try:
                    location.append(driver.find_element_by_xpath("//div[@class='css-56kyx5 e1tk4kwz1']").text)
                except:
                    location.append("#N/A")
                    pass
                try:
                    job_description.append(driver.find_element_by_xpath("//div[@id='JobDescriptionContainer']").text)
                except:
                    job_description.append("#N/A")
                    pass
                try:
                    salary_estimate.append(driver.find_element_by_xpath("//div[@class='css-y2jiyn e2u4hf18']").text)
                except:
                    salary_estimate.append("#N/A")
                    pass
                
                try:
                    company_size.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Size']//following-sibling::*").text)
                except:
                    company_size.append("#N/A")
                    pass
                
                try:
                    company_type.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Type']//following-sibling::*").text)
                except:
                    company_type.append("#N/A")
                    pass
                    
                try:
                    company_sector.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Sector']//following-sibling::*").text)
                except:
                    company_sector.append("#N/A")
                    pass
                    
                try:
                    company_industry.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Industry']//following-sibling::*").text)
                except:
                    company_industry.append("#N/A")
                    pass
                    
                try:
                    company_founded.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Founded']//following-sibling::*").text)
                except:
                    company_founded.append("#N/A")
                    pass
                    
                try:
                    company_revenue.append(driver.find_element_by_xpath("//div[@id='CompanyContainer']//span[text()='Revenue']//following-sibling::*").text)
                except:
                    company_revenue.append("#N/A")
                    pass
                    
                    
                    
                    
                done = True
                
       # Moves to the next page         
        if done:
            print(str(current_page) + ' ' + 'complete from' +' '+ str(num_pages))
            driver.find_element_by_css_selector("[class='nextButton job-search-opoz2d e13qs2072']").click()   
            current_page = current_page + 1
            time.sleep(4)
    driver.close()
    df = pd.DataFrame({'company': company_name, 
    'job title': job_title,
    'location': location,
    'job description': job_description,
    'salary estimate': salary_estimate,
    'company_size': company_size,
    'company_type': company_type,
    'company_sector': company_sector,
    'company_industry' : company_industry, 'company_founded' : company_founded, 'company_revenue': company_revenue})
    
    
    return df

# 4.Test :

In [4]:
driver=open_edge_browser()

In [13]:
# let's scrape Data Engineer jobs listed in the first page.
data_engineer=glassdoor_scraper("Data Engineer", 1)

1 complete from 1

In [14]:
data_engineer

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,KPMG\n3.8,Lighthouse Pyspark Data Engineer,#N/A,JOB DESCRIPTION\n\nPyspark Data Engineering\nQ...,#N/A,10000+ Employees,Company - Private,Management & Consulting,Business Consulting,1987,$2 to $5 billion (USD)
1,PBI Analytics,Business Intelligence & Data Engineer,#N/A,Structured training for graduates to become Da...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
2,Vodafone\n4.0,Data Engineer,#N/A,Description\nThe Business Intelligence Advisor...,#N/A,10000+ Employees,Company - Public,Telecommunications,Telecommunications Services,1984,$10+ billion (USD)
3,Taggd\n4.3,Data Engineer,#N/A,1. Good in SQL\n2. Worked on Pyspark or Databr...,#N/A,501 to 1000 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2005,$5 to $25 million (USD)
4,Nagarro\n4.2,"Associate Staff Engineer, Data Analytics",#N/A,Company Description\n\nWe're Nagarro.\n\nWe ar...,#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,1996,$100 to $500 million (USD)
5,Airowire Network Pvt Ltd,Data Engineer Intern,#N/A,What you will do?\n¬∑ Understand the Methodolog...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
6,Deutsche Bank\n4.0,Associate Data Engineer,#N/A,Job Title - Data Tribe | Cloud Data Engineer\n...,#N/A,10000+ Employees,Company - Public,Finance,Banking & Lending,1870,$10+ billion (USD)
7,Michelin\n4.1,Data Engineer,#N/A,Data Engineer\n- - - - - - - - - - - -\nDesign...,#N/A,10000+ Employees,Company - Public,Manufacturing,Machinery Manufacturing,1889,$10+ billion (USD)
8,Happymonk Technology Pvt Ltd,Data Engineer Intern,#N/A,"Happymonk AI Labs is a Bangalore company, deve...",#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
9,Accenture\n4.1,Databricks Unified Data Analytics Platform Dat...,#N/A,About Accenture: Accenture is a global profess...,#N/A,10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1989,$10+ billion (USD)
10,IntersectIQ,Data Engineer Intern,#N/A,Responsibilities\nDocumenting requirements\nSi...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
11,Verizon\n3.8,Engineer II-Data Engineering,#N/A,When you join Verizon\nVerizon is one of the w...,#N/A,10000+ Employees,Company - Public,Telecommunications,Telecommunications Services,2000,$10+ billion (USD)
12,Coinfluence,Data Engineer,#N/A,Job Role:-Data Engineer\nExperience:- 3+ years...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
13,IBM\n4.2,Data Engineer: Business Intelligence,#N/A,"Introduction\nAt IBM, work is more than a job ...",#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,1911,$10+ billion (USD)
14,Anblicks\n4.1,Junior Data Engineer (PowerBI),#N/A,Position: Power BI Developer\nWork Location: V...,#N/A,501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,2004,$25 to $50 million (USD)
15,Nagarro\n4.2,"Associate Staff Engineer, Data Modeling",#N/A,Company Description\n\nWe're Nagarro.\n\nWe ar...,#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,1996,$100 to $500 million (USD)
16,NexaQ,Data Engineer - India,#N/A,About the role:\nNexaQ team is looking for a D...,#N/A,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable
17,Mangtas,Data Analytics Engineer,#N/A,Who is Mangtas?\nMangtas is a B2B marketplace ...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
18,Nityo Infotech\n3.4,Data Engineer- Harman,#N/A,2 weeks ago\nJob Code\nJD-19424\nJOB DESCRIPTI...,#N/A,10000+ Employees,Company - Private,Information Technology,Information Technology Support Services,2006,$100 to $500 million (USD)
19,Unified iSolutions,Data Engineer,#N/A,Design and develop data pipelines for the inge...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
20,Staffbee solutions Pvt Ltd\n5.0,Data engineer ( Freelancer),#N/A,Looking for freelance?\nWe are seeking a freel...,#N/A,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,2018,Unknown / Non-Applicable
21,INTEL\n4.2,Data Engineer,#N/A,Job Description\n\nThis position is for an Ope...,#N/A,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1968,$10+ billion (USD)
22,Winspire Tech Private Limited,Azure Data Engineer,#N/A,Requirement Name: Lead- Azure Engineer\nYears ...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A
23,Hewlett Packard Enterprise\n4.3,Data Engineer,#N/A,Data Engineer\n\nThis role has been designated...,#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,2015,Unknown / Non-Applicable
24,JLL\n3.9,Data Analysis,#N/A,"JLL supports the Whole You, personally and pro...",#N/A,10000+ Employees,Company - Public,Real Estate,Real Estate,#N/A,$5 to $10 billion (USD)
25,Standard Chartered\n3.9,"Spl'st, Data Engineer",#N/A,Job: Technology\nPrimary Location: Asia-India-...,#N/A,10000+ Employees,Company - Public,Finance,Banking & Lending,1969,$100 to $500 million (USD)
26,Amicus Technology\n4.6,Azure Data Engineer,#N/A,"ROLES AND RESPONSIBILITY\nDesigning, developin...",#N/A,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,2005,Unknown / Non-Applicable
27,IBM\n4.2,Data Engineer: Data Modeling,#N/A,"Introduction\nAt IBM, work is more than a job ...",#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,1911,$10+ billion (USD)
28,Nagarro\n4.2,"Staff Engineer, Big Data",#N/A,Company Description\n\nWe're Nagarro.\n\nWe ar...,#N/A,10000+ Employees,Company - Public,Information Technology,Information Technology Support Services,1996,$100 to $500 million (USD)
29,Vantage Circle,Data Analyst Intern,#N/A,Vantage Circle is seeking talented and motivat...,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A

In [ ]:
dfs=[]
Keywords=['Data Engineer','Data Science','Finance','Business Analyst']
for keyword in Keywords:
    df=glassdoor_scraper(keyword, 20)
    dfs.append(df)